// Import Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* 
********
DEBUG
********
*/

body {
  background-color: green;
}

/* 
********
GENERAL
********
*/

body, #app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}